
@{
    ViewBag.Title = "Server Access Forms";
}
<h2>This page is restricted only for users in Role "Users"</h2>
<script type="text/javascript" src="https://form.myjotform.com/jsform/90363025225549"></script>

