@model ServerRequestWebApp.Models.ServerAccessModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<section class="content container-fluid" style="background-color:gainsboro; position: fixed; width:100%; height:100%" css="text-align:center;">
    <div  css="text-align:center;" style="background-color:white; width:inherit; height:inherit; vertical-align: middle;position: absolute;
   margin: 10px auto;
  ">
        <form id="form_login">
            @*<div class="form-group group">
                <input type="text" name="srInput" required>
                <span class="highlight"></span>
                <span class="bar"></span>

                @Html.LabelFor(m => m.target_server, new { @class = "col-md-2 control-label" })
            </div>

            <div class="form-group group">
                <input type="text" name="srInput" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                @Html.LabelFor(m => m.notes, new { @class = "col-md-2 control-label" })
            </div>*@
            <!--form content here-->

        </form>
    </div>
</section>

